<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\MCP\sqlserver-mcp\</PublishUrl>
    <PublishDir>D:\MCP\sqlserver-mcp\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <EnvironmentName>Production</EnvironmentName>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>fa88fec5-d8fe-848d-33c2-ab2cecc66d10</ProjectGuid>
  </PropertyGroup>
</Project>
